html
  head
    title Chaotic Good Cash#{title}
  body
    block content
        h1 I believe people are good. 
        p My folks always wished they could find a bag of money on the side of the road to solve all their problems. It's too late for them, but maybe I can help the next person. 
        p Every week I empty the ChaoticGood accounts into cash. I then leave the bag of cash somewhere. I'll leave clues on social accts. 
        p If you find it, keep it, share it. 
        ul 
            li TikTok 
            li Twitter
        p You can help it grow by adding to the accounts. 
        ul 
            li Venmo
            li Paypal 
    block footer
      #footer
        p.small I just want to leave a little kindness for others.  