html
  head
    title Chaotic Good Cash#{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="style.css" rel="stylesheet")
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  body
    block content
        img(src="./chaoticlogo.png")
        h3 I believe people are good. 
        p My folks always wished they could find a bag of money on the side of the road to solve all their problems. It's too late for them, but maybe I can help the next person. 
        p Every week I empty the ChaoticGood accounts into cash. I then leave the bag of cash somewhere. I'll leave clues on social accts. 
        p If you find it, keep it, share it. 
        ul 
            li TikTok 
            li a.twitter-hashtag-button(href='https://twitter.com/intent/tweet?button_hashtag=chaoticgoodcash&ref_src=twsrc%5Etfw' data-show-count='false') Tweet #chaoticgoodcash 

        p You can help it grow by adding to the accounts. 
        ul 
            li Venmo
            li Paypal 

        p.small I just want to leave a little kindness for others.